# Ignore Python venv and caches
venv/
*.pyc
__pycache__/

# Ignore AppImage build artifacts
AppDir/
*.AppImage
*.spec
build/
dist/

# Ignore tarballs and other packaging outputs
*.tar.gz

# Ignore Docker build cache
appimage-build/
.bundle.yml
