[Desktop Entry]
Version=1.0
Type=Application
Name=Password Generator
Comment=Simple password generator
Exec=Password_Generator
Icon=icon
Terminal=false
Categories=Utility;

